:root {
  --default-spacing: 1.8rem;
  --text-color: #e7ddca;
  --bg: #16212a;
  --h1: 3.6rem;
  --h2: 2.6rem;
  --default-font-size: 1.6rem;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  background: var(--bg);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  text-align: center;
  font-size: var(--h1);
}

h2 {
  width: 100%;
  text-align: center;
  font-size: var(--h2);
  margin-bottom: calc(var(--default-spacing) * 0.4);
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: var(--default-font-size);
  text-transform: capitalize;
}

p {
  font-size: var(--default-font-size);
  text-transform: capitalize;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

/* li {
  
} */

img {
  display: block;
}

main {
  width: 648px;
  max-width: calc(100% - 12px);
}
