.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  margin-bottom: var(--default-spacing);
}

.pokemonNav {
  display: grid;
  gap: var(--default-spacing);
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.link {
  display: block;
  padding: calc(var(--default-spacing) / 3) 0 calc(var(--default-spacing) / 2);
  text-align: center;
  background: #1b2a35;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
}

.link img {
  margin: 0 auto;
  transition: transform 0.25s ease;
}

.link:hover img {
  transform: scale(1.06);
}

.button {
  display: block;
  margin: 24px auto;
  border: none;
  padding: 6px 12px;
  background: #d45d5d;
  color: black;
  font-weight: bold;
  font-size: var(--default-font-size);
  cursor: pointer;
}
