.paginationWrapper {
  display: flex;
  justify-content: center;
}

.paginationLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  aspect-ratio: 1;
  margin: var(--default-spacing) calc(var(--default-spacing) / 2)
    calc(var(--default-spacing) * 2);
  border: 2px solid var(--cta-color);
  background: var(--color-light);
}

.activePagination {
  @extend .paginationLink;
  background: var(--cta-color);
  color: initial;
}
